* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.hero-section {
  background-image: url("./assets/dawn\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 40px;
  width: auto;
}

.navList {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  background-color: #289a5c;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-weight: 400;
  transition: all 0.3s;
  z-index: 10;
}

.navList li {
  margin: 20px auto;
}

.navList li a:hover {
  color: #101b13;
  transition: 0.3s ease-in-out;
}

#cross {
  position: absolute;
  top: 20px;
  right: 20px;
}

.heroContent {
  text-align: center;
  padding: 0 20px;
  height: 80%;
}

.heroContent img {
  margin-top: 70px;
}

.heroContent h1 {
  font-size: 16px;
  margin: 20px 0;
  font-weight: 600;
}

.heroContent p {
  opacity: 0.8;
  font-size: 12px;
  margin: 20px 10px;
  font-weight: 400;
  line-height: 30px;
}

/* About Section */

.about-section{
  padding: 20px;
  background-color: #15251d;
}

.about-section h1{
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
}

.content-div{
  display: flex;
  flex-direction:column;
  align-items: center;
}

.about-content img{
  width: 280px;
  height: 280px;
  margin: 0 auto 20px auto;
  background: #c4c4c4;
  border-radius: 20px;
}

.about-content p {
  font-size: 13px;
}

/* key highlight section  */

.keySection {
  padding: 20px;
  background-color: #101b13;
}

.keySection h1 {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
}

.keyFlexDiv {
  display: grid;
  justify-content: space-around;
}

.keyDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #289a5c;
  text-align: center;
  margin: 0 20px 50px 0;
  width: 120px;
  height: 50px;
}

.keyNumber {
  position: absolute;
  top: -45px;
  left: -5px;
  font-size: 50px;
  font-weight: 500;
  color: #cfd6e3;
}

.keyPara {
  font-size: 14px;
}

/* .keySection h1::after{
  position: absolute;
  top: 14px;
  right: -2px;
  content: '';
  background-color: #289A5C;
  height: 2px;
  width: 50px;
}

.keySection h1::before{
  position: absolute;
  top: 14px;
  left: -2px;
  content: '';
  background-color: #289A5C;
  height: 2px;
  width: 50px;
} */

/* Who Section */
.who-section{
  padding: 20px;
  background-color: #15251d;
}
.who-section h1{
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
}
.who-paras{
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}
.para1,.para2{
  margin-bottom: 50px;
}

/* Statistics Section */
.stats-section{
  padding: 20px;
  background-color: #101b13;
}
.stats-section h1{
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
}
.stats-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
}

/* Rules Section */

.rules {
  background: #15251d;
  padding: 15px;
}

.rules h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 600;
}

.rulesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionDiv {
  width: 28%;
}

.option {
  background-color: #289a5c;
  height: 80px;
  margin: 20px 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.6;
}

.active{
  opacity: 1;
}

.borderTop{
  border-radius: 20px 0 0 0;
  margin-top: 0;
}

.borderBottom {
  border-radius: 0 0 0 20px;
  margin-bottom: 0;
}

.bxs-cog,
.bxs-user,
.bx-infinite {
  font-size: 20px;
}

.contentDiv {
  background-color: #101b13;
  height: 280px;
  width: 68%;
  padding: 0 10px;
  overflow-y: scroll;
}

.lists {
  list-style-type: upper-alpha;
}

.lists li {
  margin: 10px 0 10px 10px;
  font-size: 12px;
}

.heading{
  font-size: 12px;
}

#Rules{
  display: none;
}

#Guidelines{
  display: none;
}

/* ------------------- Testiomnial ----------------------  */

.testiomonialDiv {
  margin-bottom: 30px;
}

.testimonialPara {
  border-radius: 10px;
  text-align: left;
  background-color: #289a5c;
  padding: 15px;
  font-size: 12px;
  margin-bottom: 20px;
}

.testimonialImg {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}

.testimonialSubDiv {
  display: flex;
  align-items: center;
}

.testimonialSubDiv h2 {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.testimonialSubDiv p {
  font-size: 10px;
}

/* -------------- Contact Section -------------------  */

.contactSection {
  padding: 20px;
  background-color: #15251d;
}

.contactSection h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 600;
}

.creds {
  margin-top: 40px;
}

.field {
  height: 40px;
  width: 100%;
  position: relative;
  margin: 25px 0;
  padding: 20px auto;
}

.field input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background: none;
  color: #fff;
  word-wrap: break-word;
  word-break: break-all;
}

.login-icon {
  font-size: 20px;
  margin-right: 5px;
}

.field label {
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.field input:focus ~ label,
.field input:valid ~ label {
  transform: translateY(-20px);
  font-size: 12px;
  color: #fff;
  padding-left: 0;
}

.field input:hover ~ label,
.field input:focus ~ label {
  opacity: 1;
}

.field input:focus ~ .icon {
  font-size: 16px;
}

:focus {
  outline: none;
}

.underline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
}

.underline::before {
  position: absolute;
  content: "";
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.field input:hover ~ .underline::before,
.field input:focus ~ .underline::before,
.field input:valid ~ .underline::before {
  transform: scaleX(1);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-btn {
  cursor: pointer;
  background: none;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  padding-bottom: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  transition: 0.3s ease;
}

.sign-in-btn:hover {
  border-bottom: 1px solid rgba(255, 255, 255);
}

/* ------------------- FOOTER SECTION -------------------  */

.contactDiv{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.subContactDiv {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contactLogo {
  background-color: #289a5c;
  padding: 10px;
  border-radius: 50%;
  margin-right: 30px;
}

.subContactDiv p {
  font-size: 12px;
}

.footer {
  background-color: #15251d;
  padding: 20px;
  text-align: center;
}

.footer img {
  width: 150px;
  height: auto;
}

.footer p {
  margin-top: 15px;
  font-size: 10px;
}

/* ------------ tablet size -------------  */

@media(min-width : 768px){
    .heroContent{
      margin: 0 auto;
      max-width: 600px;
    }

    .heroContent img{
      height: 80px;
    }

    .heroContent h1 {
      font-size: 20px;
    }

    .heroContent p {
      margin: 0 auto;
      max-width: 300px;
      font-size: 14px;
    }

    .content-div{
      flex-direction: row;
    }

    .content-div img{
      margin-right: 20px;
    }

    .who-paras{
      flex-wrap: nowrap;
    }

    .para1{
      margin-right: 20px;
    }

    .rulesContainer{
      margin: 0 auto;
      max-width: 700px;
      justify-content: center;
    }

    .option {
      max-width: 150px;
    }

    .testiomonialDiv{
      margin: 0 auto;
      max-width: 700px;
      margin-bottom: 40px;
    }

    .testimonialSubDiv h2{
      font-size: 16px;
    }

    .testimonialImg{
      width: 80px;
      height: 80px;
    }

    .testimonialSubDiv p{
      font-size: 12px;
    }

    .subContactDiv{
      width: 33%;
    }

    .contactLogo{
      margin-right: 20px;
    }

    .contactDiv{
      flex-direction: row;
      padding: 30px 0;
      max-width: 800px;
    }

    .footer-content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 800px;
      margin: 0 auto;
    }
}

@media(min-width : 1024px){

}
